<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<th:block th:replace="~{layout/main::page(title=#{jirarush.index.homepage}, appMain=~{::appMain})}">
    <appMain>

        <h1 th:text="#{jirarush.index.homepage}">JiraRush Home page</h1>


        <div class="language-switcher mb-4">
            <a href="?lang=en" th:text="#{language.english}">English</a> |
            <a href="?lang=ru" th:text="#{language.russian}">Русский</a> |
        </div>


        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit" th:text="#{button.logout}">
                    Logout
                </button>
            </form>
        </div>
    </appMain>
</th:block>
